@font-face {
  src: url('../suir.otf');
  font-family: aeh;
}
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 570px;
  width : 305px;
  background: #000;

  overflow: hidden;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
#screen {
  position: absolute;
  top: 47%;
  left: 50%;
  height: 82%;
  width : 95%;
  margin-top: -5px;
  background: url(https://c.pxhere.com/photos/35/8d/above_abyss_adrenaline_brave_city_crazy_edge_feet-947517.jpg!d), #333;
  
  background-size: cover;
  background-position: 
  overflow: hidden;
  transform: translate(-50%, -50%);
  font-family: aeh;

}


img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}